@model IEnumerable<ParcelaConsultingWeb.Models.Concesion>


<div class="card" style="height:auto">
    <div class="card-body p-2 m-2">
        <a asp-action="Create" class="btn btn-primary text-light float-left btn-sm">
            Nueva <i class="fa fa-plus-square"></i>
        </a>
        <table id="concecionesT" class="table display responsive" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NoExpediente)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Remitente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Asunto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Asignado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaAsignacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiarenaNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaEnviado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoExpediente)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Remitente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asunto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asignado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaAsignacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiarenaNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaEnviado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento.Name)
                        </td>

                        <td>
                            <div class="row-cols-1">
                                <a asp-action="Name" asp-route-id="@item.Id" class="btn btn-txt" data-toggle="modal" data-target="#myModal"><i class="fa fa-user fa-fw"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-txt"><i class="fa fa-pen-clip"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-txt"><i class="fa fa-eye-low-vision"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>